
  .amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: 10rem;
  }
  
  .amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(189, 127, 255);
    color: wheat;
    font-family: "Amatic SC", sans-serif;
    font-size: 4rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 6rem;
}

h1{
    padding: 1rem;
}

button{
    width: 16vw;
    min-height: 5vw;
    font-size: 2rem;
    font-family: "Amatic SC", sans-serif;
    font-weight: bold;
    background-color: seagreen;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    color: #fff;
    margin: 2rem;
    cursor: pointer;
}

#nextQuote:hover {
  background-color: mediumseagreen;
  color: lightyellow;
  transform: scale(1.05);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4);
  letter-spacing: 0.5px;
}
