*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: cadetblue;
}

h1{
    margin: 2vw;
}

.container{
    margin: 3vw 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

button{
    width: 10vw;
    height:3vw;
    background-color: rgb(236, 48, 111);
    color: palegoldenrod;
    font-size: 1.3rem;
    margin: 2vw 4vw;
    cursor: pointer;
    border: none;
}

button:hover{
    opacity: 0.7;
}

@media (max-width: 780px) {
    h1 {
        font-size: 2rem;
    }

    button {
        width: 60%;
        height: 45px;
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    button {
        width: 80%;
        height: 40px;
        font-size: 1rem;
    }
}